#co2-badge {
    --color1: #28430A;
    --color2: #507B00;
    font-size: 15px;
    text-align: center;
    color: var(--color1)
}

#co2-badge sub {
    vertical-align: middle;
    position: relative;
    top: .3em;
    font-size: .6em
}

#info, #data {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1em;
    line-height: 1.15;
    font-family: sans-serif;
    text-decoration: none;
    margin: .2em 0;
    padding: .3em .5em;
    border: .12em solid var(--color2)
}

#data {
    border-radius: 0 .3em .3em 0;
    background: #fff;
}

#info {
    border-radius: .3em 0 0 .3em;
    border-right: 0;
    background: var(--color1);
    color: #fff;
    font-weight: 700;
    border-color: var(--color1)
}

#co2-badge .text {
    max-width: 0;
    transition: max-width 0.5s;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
}

#co2-badge:hover .text {
    max-width: 50rem;
    padding-left: 0.5em;
    padding-right: 0.5em;
    transition-delay: 0.1s;
}